.box {
  height:410px;
  width: 410px;
  margin: 0 auto;
  background-color: #222;
}

.ball {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
}

@for $i from 1 through 8 {
    .ball-#{$i} {
      animation: ball-#{$i} 4s linear infinite;
    }
}

@for $i from 9 through 16 {
    .ball-#{$i} {
      animation: ball-#{$i} 3s linear infinite;
    }
}


// RHOMBUS

@keyframes ball-1 {
  0%, 100%{
    transform: translate(200px, 0)
  }
  50%{
    transform: translate(400px, 200px)
  }
}

@keyframes ball-2 {
  0%, 100%{
    transform: translate(400px, 200px)
  }
  50%{
    transform: translate(200px, 400px)
  }
}
@keyframes ball-3 {
  0%, 100%{
    transform: translate(200px, 400px)
  }
  50%{
    transform: translate(0px, 200px)
  }
}
@keyframes ball-4 {
  0%, 100%{
    transform: translate(0px, 200px)
  }
  50%{
    transform: translate(200px, 0px)
  }
}
@keyframes ball-5 {
  0%, 100%{
    transform: translate(200px, 0px)
  }
  50%{
    transform: translate(0px, 200px)
  }
}
@keyframes ball-6 {
  0%, 100%{
    transform: translate(0px, 200px)
  }
  50%{
    transform: translate(200px, 400px)
  }
}
@keyframes ball-7 {
  0%, 100%{
    transform: translate(200px, 400px)
  }
  50%{
    transform: translate(400px, 200px)
  }
}
@keyframes ball-8 {
  0%, 100%{
    transform: translate(400px, 200px)
  }
  50%{
    transform: translate(200px, 0px)
  }
}

// TRIANGLE


@keyframes ball-9 {
  0%, 100%{
    transform: translate(200px, 0)
  }
  50%{
    transform: translate(0px, 400px)
  }
}

@keyframes ball-10 {
  0%, 100%{
    transform: translate(400px, 200px)
  }
  50%{
    transform: translate(0px, 400px)
  }
}

@keyframes ball-11 {
  0%, 100%{
    transform: translate(200px, 400px)
  }
  50%{
    transform: translate(0px, 0px)
  }
}

@keyframes ball-12 {
  0%, 100%{
    transform: translate(0px, 200px)
  }
  50%{
    transform: translate(400px, 0px)
  }
}
@keyframes ball-13 {
  0%, 100%{
    transform: translate(200px, 0px)
  }
  50%{
    transform: translate(400px, 400px)
  }
}
@keyframes ball-14 {
  0%, 100%{
    transform: translate(400px, 200px)
  }
  50%{
    transform: translate(0px, 0px)
  }
}
@keyframes ball-15 {
  0%, 100%{
    transform: translate(200px, 400px)
  }
  50%{
    transform: translate(400px, 0px)
  }
}
@keyframes ball-16 {
  0%, 100%{
    transform: translate(0px, 200px)
  }
  50%{
    transform: translate(400px, 400px)
  }
}

